* {
    box-sizing: border-box;
}
body {
    background:rgba(255, 255, 255, 0.39);
    margin: 0;
}

#cal {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rgba(255, 255, 255, 0.39);
    font-size: 100px;
}

/* STOR CONTAINER/BAKGRUND */
#container {
    width: 1280px;
    height: 610px;
    background-color: rgba(128, 128, 128, 0.219);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

/* BAKGRUND MINIRÄKNARE  */
#calculator {
    display: flex;
    width: 250px;
    height: 350px;
    background-color: rgb(3, 15, 49);
    border-radius: 5px;
    box-shadow: 4px 4px rgba(97, 94, 94, 0.932);
    margin-top: 60px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

/* RUTA SOM VISAR SIFFROR */
#input {
    display: flex;
    height: px;
    width: 230px;
    background-color: rgb(255, 255, 255);
    flex-direction: column;
    border-width: -5px;
    text-align: right;
    font-size: 50px;
    border: none;
}

/* HÄR FINNS ALLA SIFFOR / TANGENTER */
#keyboard {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;

}

/* HÄR FIXAS KNAPPARNA */
#btn {
    display: flex;
    width: 60px;
    height: 30px;
    justify-content: center;
    align-items: center;
    margin: 10px;
    border-width: -5px;
    font-weight: bold;
    font-size: 15px;
    background-color: rgb(255, 255, 255);
    border-style: none;  
   
}